<html>
    <body>
        <center>
        <host1>the server Operating system : </host1>
         <br>
         <host1>the server Hostname : </host1>
    </center>
    </body>
</html>                   
